/* 색상 팔레트 */

/* system color */
$system-white: #fff;
$system-red: #e72828;

/* black */
$system-black-01: rgba(0, 0, 0, 0.1);
$system-black-02: rgba(0, 0, 0, 0.2);
$system-black-03: rgba(0, 0, 0, 0.3);
$system-black-04: rgba(0, 0, 0, 0.4);
$system-black-05: rgba(0, 0, 0, 0.5);
$system-black-06: rgba(0, 0, 0, 0.6);
$system-black-08: rgba(0, 0, 0, 0.8);
$system-black-09: rgba(0, 0, 0, 0.9);
$system-black-10: #000;

/* grey */
$system-grey-10: #f0f2f5;
$system-grey-20: #e2e1e7;
$system-grey-30: "";
$system-grey-40: "";
$system-grey-50: #bcbcbc;
$system-grey-60: #747d8c;
$system-grey-70: "";
$system-grey-80: #48505e;
$system-grey-90: "";

/* accent color */
$brand-blue-05: #f1f2f6;
$brand-blue-10: #f5f8fd;
$brand-blue-15: #ced6e0;
$brand-blue-20: #bcc9df;
$brand-blue-30: "";
$brand-blue-40: #116acc;
$brand-blue-50: #0157d8;
$brand-blue-60: #0d5aa7;
