@use "@/common/styles/common.scss" as common;

.container {
    position: relative;
    left: 0;
    width: common.px2rem(60px);
    height: 100%;
    border-right: common.$one solid common.$system-black-01;
    padding: common.$ten;
}

.upper {
    border-bottom: common.$one solid common.$system-grey-20;

    @include common.flex-vertical(space-around);

    padding: common.$ten 0;
}

.lower {
    @include common.flex-vertical(space-around);

    padding: common.$ten 0;
}

.menu {
    position: relative;
    width: common.px2rem(40px);
    height: common.px2rem(40px);
    border-radius: common.$two;
    cursor: pointer;
    background-color: transparent;

    @include common.flex-center;

    &::before {
        display: none;
        content: "";
        width: common.$two;
        height: common.$twenty;
        border-radius: common.$hundred;
        background-color: common.$brand-blue-50;
        position: absolute;
        left: 0;
    }

    a {
        width: 100%;
        height: 100%;
    }
}

.selected {
    background-color: common.$system-grey-10;

    &::before {
        display: inline-block;
    }
}

.icon {
    width: common.$twenty;
    height: common.$twenty;
    margin: common.$ten;
}
