@import '../../../common/styles/common.scss';

$table-height: px2rem(252px);
$wider-width: px2rem(190px);
$narrower-width: px2rem(160px);
$tr-height: $twenty-eight;

$border-color: $system-black-01;
$thead-color: #f5f8fb;

.container {
  position: relative;
  // clsx : isFullHeight ? $full-table-height : $table-height
  border: $one solid $border-color;
  overflow: auto;
  margin-top: $ten;

  /* scroll design */
  /* chrome */
  &::-webkit-scrollbar {
    width: $four;
    height: $four;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $brand-blue-20;
    border-radius: $eight;
  }
}

.fullPageContainer {
  height: fit-content;
  max-height: 80vh;
}

.table {
  position: relative;
  top: 0;
  left: 0;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  border-spacing: 0;
  background-color: $system-white;
  cursor: pointer;
  /* reset css */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: $tr-height;
  display: flex;
  background-color: $thead-color;
  border-bottom: $one solid $border-color;
  z-index: 10;

  /* header's tr */
  .cell {
    // clsx : isHorizontalScrollable ? $wider-width : $narrower-width
    width: $narrower-width;
    display: flex;
    text-align: left;
    white-space: nowrap;
    font-size: $twelve;
    font-weight: 400;

    &:last-of-type {
      width: auto; /* 나머지 너비 차지 */
      border-right: none;
    }

    th {
      width: $narrower-width;
      padding: $five 0 $five $twenty;
      border-right: $one solid $border-color;

      &:last-of-type {
        width: auto; /* 나머지 너비 차지 */
        border-right: none;
      }
    }
  }
}

.body {
  position: relative;
  width: 100%;
  height: 100%;
  display: table-row-group;
  background-color: $system-white;
  overflow: visible;

  /* scroll design */
  /* chrome */
  &::-webkit-scrollbar {
    width: $eight;
    height: $eight;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $brand-blue-20;
    border-radius: $eight;
    border: $two solid $system-white;
  }

  /* body's tr */
  .cell {
    height: $tr-height;
    @include flex-vertical(flex-start, row);
    border-bottom: $one solid $border-color;

    td {
      width: calc($narrower-width + $one); // 보더 때문인지 1픽셀 차이가 존재
      border-right: $one solid $border-color;
      text-align: left;
      font-size: px2rem(11px);
      padding: $five 0 $five $twenty;
      font-weight: 500;
      white-space: nowrap;

      &:last-of-type {
        width: auto; /* 나머지 너비 차지 */
        border-right: none;
      }
    }
  }
}

/* horizontalScrollable Table Style */

/*
t-head :  z-index 10
t-body's first tr : z-index 5
*/

.halfPageContainer {
  height: fit-content;
  max-height: $table-height;
  background-color: $system-white;
}

.HorizontalScrollableTable {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-spacing: 0;
  cursor: pointer;
  /* reset css */
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  .header {
    position: sticky;
    top: 0;
    height: $tr-height;
    background-color: $system-white;
    z-index: 10;

    .widerCell {
      th {
        font-size: $twelve;

        &.selected {
          background: #e4edfaff;
        }
      }
    }
  }

  .body {
    height: auto;
    display: table-row-group;
    overflow: visible;

    /* scroll design */
    /* chrome */
    &::-webkit-scrollbar {
      width: $eight;
      height: $eight;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $brand-blue-20;
      border-radius: $eight;
      border: $two solid $system-white;
    }
  }

  /* table's tr */
  tr {
    width: 100%;
    height: $tr-height;
    table-layout: fixed;
    display: table;
    border-bottom: $one solid $border-color;

    &:hover {
      // background-color: #f0f2f580; // opacity
      background-color: #f6f7f8; // solid
    }

    /* thead & tbody's first tr */
    &:first-of-type {
      /* thead */
      th {
        width: $wider-width;
        font-size: $twelve;
        padding: $five $twenty;
        text-align: left;
        border-bottom: $one solid $border-color;
        border-color: $border-color;
        background-color: $thead-color;

        &:first-of-type {
          position: sticky;
          top: 0;
          left: 0;
          width: $wider-width;
          border-right-style: double;
          background-color: $thead-color;
        }

        &:not(:first-of-type) {
          border-right-style: solid;
          border-width: $one;
        }

        &:last-of-type {
          border-right: none;
        }
      }
    }

    &:last-of-type {
      border: none;
    }
  }

  /* tbody td */
  td {
    white-space: nowrap;
    padding: $five $twenty;
    border-color: $border-color;
    box-sizing: border-box;

    &:first-of-type {
      position: sticky;
      top: 0;
      left: 0;
      width: calc($wider-width + px2rem(43px));
      background-color: inherit;
      border-right-style: double;
      font-size: $twelve;
      z-index: 5;
    }

    /* 스크롤 가능한 영역 중 첫 번째 열 */
    &:nth-of-type(3) {
      position: relative;
      left: $two;
    }

    &:not(:first-of-type) {
      /**
      * @TODO 왜 41px 이라는 차이가 나는지는 아직 확인 못 함
      */
      width: calc($wider-width + px2rem(41px));
      font-size: px2rem(11px);
      border-right: $one solid $border-color;
    }

    &:last-of-type {
      border-right: none;
    }
  }
}

.tableRow {
  background-color: $system-white;

  /* hover */
  &.hover {
    background-color: #f0f2f5; // opacity
  }

  /* selected */
  &.selected {
    background-color: $brand-blue-10; // opacity
    color: $brand-blue-50;

    &:hover {
      background-color: #e9ebeeff; // solid
    }

    td {
      position: relative;

      &:first-of-type {
        position: sticky;
        top: 0;
        left: 0;

        &::before {
          display: none;
          content: '';
          width: $four;
          height: $twenty;
          border-radius: 100px;
          background-color: $brand-blue-50;
          position: absolute;
          left: $five;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    td:first-of-type::before {
      display: inline-block;
    }
  }

  /* 비활성화 */
  &.deactivated {
    color: $system-black-04;
  }
}

/* selected header */
.header.selected {
  background-color: $brand-blue-10;

  &:hover {
    // background-color: $system-grey-10; // opacity
    background-color: #e9ebeeff; // solid
  }
}

.highlighted {
  background-color: $system-black-01;
  color: $brand-blue-50;
}
