@use "@/common/styles/common" as common;

$side-nav-width: common.px2rem(80px); // 60px인데 60을 적용하면 겹치는 현상 발생

.container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.contents {
    position: absolute;
    top: common.px2rem(60px); // header height
    width: 100%;
    height: 100%;
}

.outlet {
    position: absolute;
    top: 0;
    left: $side-nav-width; // side navigation width
    width: calc(100% - $side-nav-width);
    height: 100%;
}
