@use "@/common/styles/common" as common;

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: common.px2rem(60px);
    padding: 0 common.px2rem(40px);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
}

.logo {
    width: common.px2rem(80px);
}

.iconWrapper {
    width: common.px2rem(80px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
