@import "src/common/styles/common";

.container {
    position: absolute;
    top: 0;
    width: 100%;
    height: px2rem(60px);
    padding: 0 px2rem(40px);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
}

.logo {
    width: px2rem(80px);
}

.iconWrapper {
    width: px2rem(80px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
